<div id="user_nav">
	<% if current_user %>
		 <span class="signin-text">Signed in as <span class="username"><%= current_user.name %></span></span>
		 <%= link_to (image_tag "images/logout.png") , signout_path, id: "sign_out" %>
	<% else %>
		 <div class="btnLabel strong"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></div>	
	<% end %>
</div>
<p>
  <%=link_to 'Create Event', :url => {:action => :new}, :remote => true, :before => "$('#loading').show()", :complete => "$('#loading').hide()" %>
</p>