<div id="user_nav">
	<% if !current_user.authorized? %>
		 <p> Thank you <span class="username"><%= current_user.name %></span> for registering with us. Waiting for admin to authorize </p>
	<% else %>
		 <p> Login to create Event or post availability for Events</p>	 
	<% end %>
</div>