<div id="user_nav">
	<% if current_user %>
		 Signed in as <strong><%= current_user.name %></strong>!
		 <%= link_to (image_tag "logout.png") , signout_path, id: "sign_out" %>
		 <span class="btnLabel_logout strong"> <%= link_to "Sign out", signout_path, id: "sign_out" %></span>
	<% else %>
		 <div class="btnLabel strong"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></div>	
	<% end %>
</div>
